//yekan X
@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 100;
	src: url('/assets/fonts/iranyekan/woff/iranyekanwebthinfanum.woff') format('woff'),
	url('/assets/fonts/iranyekan/woff2/iranyekanwebthinfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/iranyekan/woff/iranyekanweblightfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanweblightfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/iranyekan/woff/iranyekanweblightfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanweblightfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanwebmediumfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanwebboldfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanwebextraboldfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/iranyekan/woff/iranyekanwebblackfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanwebblackfanum.woff2') format('woff2');
}

@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 950;
    src: url('/assets/fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff') format('woff'),
        url('/assets/fonts/iranyekan/woff2/iranyekanwebextrablackfanum.woff2') format('woff2');
}
